{
  "plugins": [
    "transform-decorators-legacy", //required, 必须在class-properties之前！
    "transform-class-properties",
    "react-hot-loader/babel"
  ],
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": [
      ]
    }
  }
}