{
  "plugins": ["transform-decorators-legacy", "transform-class-properties"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 37, // last 2 versions
          "iOS": 10
        },
        "modules": false,
        "useBuiltIns": true,
        "debug": true
      }
    ],
    "react"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
